<div class="menuHub" id="menuHub">
    <div class="div-logo-foto" >
        <div class="logo" (click) = 'this.router.navigate(["/"]);'>
            <h4 >LOGO</h4>
        </div>
        <div class="menuItem fotoItem" (click)="visibleMenu()">
            <img width="32px" height="32px" src="https://image.flaticon.com/icons/png/512/60/60510.png">
        </div> 
    </div>
    
    <div class="menuItem">
        <a class=" textItems" routerLink="">Home</a><br/>
    </div>
    <div class="menuItem">
        <a class="textItems" routerLink="/kinds">Kind</a><br/>
    </div>
    <div class="menuItem">
        <a class="textItems" routerLink="/shippers">Shipper</a><br/>
    </div>
    <div class="menuItem">
        <a class="textItems" routerLink="/about">About</a><br/>
    </div>
    <div class="menuItem" *ngIf="this.isLoggedIn()">
        <a class="textItems" routerLink="/login">Login</a><br/>
    </div>   

        
    <div class="menuItem1 dropdown">
        <a class="dropdown-toggle" id="navbarDropdownMenuAccount" *ngIf="!this.isLoggedIn()" href="/user/1">
            YourAccount
        </a>
        <div class="dropdown-menu account-menu" aria-labelledby="navbarDropdownMenuAccount">
            <p class="account-menu-items">
                <a class="account-menu-link" routerLink="/user/account">Account</a>
            </p>
            <p class="account-menu-items">
                <a class="account-menu-link" routerLink="/user/basket">Basket</a>
            </p>
            <p class="account-menu-items">
                <a class="account-menu-link" routerLink="/user/setting">Setting</a>
            </p>
            <hr class="account-menu-line"/>
            <p class="account-menu-items">
                <a class="account-menu-link" (click)="this.authService.logout();">Logout</a>
            </p>
        </div>
    </div>      
</div>


