.div-basket{
    width: 70%;
    margin-left: 5%;
    float: left;
}
.basket-item-foto{
    min-width: 200px;
    min-height: 150px;
    width: 200px;
    height: 150px;
}
.itemBasketToFoto{
    width: 200px;
}
.itemBasket{
    overflow: hidden;
    max-height: 160px;
    width: 15%;
    vertical-align: auto;
}
.itemBasketDiv{
    margin-top: 10%;
    max-height: 130px;
    overflow: hidden;
}
.div-basket-info{
    margin-top: 10px;
    background-color: rgb(238, 234, 234);
    height: auto;
    min-width: 300px;
    width: 20%;
    margin-left: 2%;
    float: left;
}
.div-basket-name-info{
    margin-top: 10px;
    text-align: center;
}
.info-item{
    margin-left: 5%;
    float: left;
    width: 40%;
}
.div-form{
    width: 90%;
    margin: 20px 5%;
}
.form-input{
    margin-bottom: 10px;
}
.itemBasket1{
    width: 2%;
    height: 20px;
}
.xclass{
    border: 1px rgb(156, 156, 156) solid;
    color: blanchedalmond;
    background-color: rgb(136, 136, 136);
    

    width: 23px;
    text-align: center;
}

