<table class="table table-hover">
    <caption>Shippers</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shipper of shippers">
            <td>
                {{shipper.shipperId}}
            </td>
            <td>
                {{shipper.name}}
            </td>
            <td>
                del
            </td>
            <td>
                Edit
            </td>
        </tr>
    </tbody>
</table>