.tableProductId{
    width: 3%;
}
.tableProductButton{
    width: 5%;
}
.tableProductEdit{
    width: 5%;
}
.tableProductName{
    max-width: 20%;
    overflow: hidden;
}
.tableProductAbout{
    width: auto;
}