<div style="margin: 15px 0px;">
    <form>
        <div  class="form-group">
            <label >Kindname</label>
            <input id="kindName" type="text" class="form-control">
        </div>
        <div  class="form-group">
            <label >About kind</label>
            <textarea id="kindAbout" type="textarea" class="form-control" ></textarea>
        </div>
        <button type="submit" class="btn btn-dark" (click)="create()">Create</button>
    </form>
</div>

<table class="table table-hover">
    <caption>Kinds</caption>
    <thead>
        <tr>
            <th class="tableProductId">Id</th>
            <th>Name</th>
            <th>About</th>
            <th class="tableProductDelete">Delete</th>
            <th class="tableProductEdit">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kind of kinds">
            <td>
                {{kind.kindId}}
            </td>
            <td>
                {{kind.name}}
            </td>
            <td>
                {{kind.about}}
            </td>
            <td>
                <button type="button" class="btn btn-dark" (click)="this.delete(kind.kindId)">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark">Edit</button>
            </td>
        </tr>
    </tbody>
</table>