<div style="margin-top:10px;">
  <label>Search</label>
  <div>
    <div style="width: 95%; float: left;">
      <input id="search" type="text" size="10" class="form-control" [(ngModel)]="this.Params.searchTerm"  >
    </div>
    <div style="width: auto; float: right;">
      <button type="submit"  class="btn btn-dark" (click)="this.get()" >Enter</button>
    </div>
  </div>
</div>

<button style="margin-top:10px;float:right; margin-left: 1%;" class="btn btn-dark" type="button" data-toggle="modal" data-target="#exampleModalCreateKind" >
    Create
</button>
<div class="modal fade" id="exampleModalCreateKind" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create kind</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                <label>Name</label>
                <input id="" type="text" size="10" class="form-control" [(ngModel)]="this.kind.name" >
            </p>
            <p>
                <label>About</label>
                <textarea id="" type="number" size="10" class="form-control"  [(ngModel)]="this.kind.about">

                </textarea>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="create()" >Create </button>
        </div>
      </div>
    </div>
  </div>

<table class="table table-hover">
    <caption>Kinds</caption>
    <thead>
        <tr>
            <th class="tableProductId">Id</th>
            <th class="tableProductName">Name</th>
            <th class="tableProductAbout">About</th>
            <th class="tableProductButton">Delete</th>
            <th class="tableProductButton">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kind of getKinds.kindsDto">
            <td>
                {{kind.kindId}}
            </td>
            <td>
                {{kind.name}}
            </td>
            <td>
                {{kind.about}}
            </td>
            <td>
                <button type="button" class="btn btn-dark" (click)="this.delete(kind.kindId)">Delete</button>
            </td>
            <td>
                
                <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#exampleModalEditKind" (click)="this.initEdit(kind)" >
                    Edit
                </button>
                <div class="modal fade" id="exampleModalEditKind" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Edit product</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <label>Name</label>
                                <input type="text" size="10" class="form-control" [(ngModel)]="this.editKind.name" >
                            </p>
                            <p>
                                <label>About</label>
                                <textarea  type="number" size="10" class="form-control"  [(ngModel)]="this.editKind.about">
                
                                </textarea>
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="this.edit(this.editKind.kindId)" >Edit</button>
                        </div>
                      </div>
                    </div>
                  </div>

            </td>
        </tr>
    </tbody>
</table>
<app-pagination></app-pagination>
