<div class="shipper"> 
    <div class="table-shipper"> 
        <table class="table table-hover">
            <caption>Shippers</caption>
            <thead>
                <tr>
                    <th style="width: 40%;">Foto</th>
                    <th style="width: 20%;">Name</th>
                    <th style="width: 20%;">Id</th>
                    <th style="width: 20%; min-width: 170px;">Rating</th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="foto">
                            <img width="100%" height="100%" src="https://openmedia.io/files/2021/05/tesla_factory_19_1.jpg"  alt="foto">
                        </div>
                    </td>
                    <td>
                        rererer 
                    </td>
                    <td>
                        45
                    </td>
                    <td>
                        <div style="margin-top: 30px;">
                            <div *ngFor="let d of this.getStars(3, true)">
                                <div class="d14" (click)="this.al(d)"></div>
                            </div>
                            <div *ngFor="let d of this.getStars(3, false)">
                                <div class="d14 d14gray" (click)="this.al(d)"></div>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr *ngFor="let shipper of shippers">
                    <td>
                        <div class="foto">
                            <img width="100%" height="100%" src="{{shipper.foto}}"  alt="foto">
                        </div>
                    </td>
                    <td>
                        {{shipper.name}}
                    </td>
                    <td>
                        {{shipper.shipperId}}
                    </td>
                    <td>
                        <div *ngFor="let d of this.getStars(shipper.finalRating, true)">
                            <div class="d14" (click)="this.editStars(shipper.shipperId, d)"></div>
                        </div>
                        <div *ngFor="let d of this.getStars(shipper.finalRating, false)">
                            <div class="d14 d14gray" (click)="this.editStars(shipper.shipperId, d)"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

