<div class="shipper-catalog" >
    <div class="catalog-items-box" >
        <p class="shipper-catalog-name">
            Shipper
        </p>
        <div *ngFor="let shipper of this.shippers"  class="catalog-item" (click)="loadShipperPage(shipper.shipperId)">
            <div style="float: none; height: 180px">
                <div class="catalog-item-foto-stars1">
                    <div class= catalog-item-foto>
                        <img width="100%" height="100%" src="{{shipper.foto}}"  alt="foto">
                    </div>
                </div>
                <div class="catalog-item-text" >
                    <div style=" margin-top:10px; max-height:40px;  overflow: hidden;">
                        <a >
                            <h6>{{shipper.name}}  </h6>
                        </a>
                    </div>
                    <div style=" max-height:90px; height:90px; height: 10%; overflow: hidden;">
                        sadfsa sdfsadf sadfsa sdfsa fsadfsa sdfsadfs adfsa sdfsadfsa dfsa sdfsadfsad fsa sdfs adfsadfsa sdfs dffsa sdfsadfs adfsa sdfsadfsa dfsa sdfsadfsad fsa sdfs adfsadfsa sdfs df
                    </div>
                    <div class="starsHub1">
                        <app-starrating [ObjectId]="shipper.shipperId" [CountStars]="shipper.finalRating" ></app-starrating>   
                     </div>
                </div>
            </div>
         </div> 
    </div>
    <div style="height: 10px;">
    </div>
</div>
<div style="height: 10px;">
</div>
