
.table-shipper{
    margin: 0 auto;
    width: 80%;
    background-color: white;
}
.foto{
    width: 300px;
    height: 200px;
    background-color: grey;
}

.d14 {
    margin: 5px 0; 
    float:left;
    height: 0; 
    width: 0;
    position: relative;
    border-right: 12px solid transparent;
    border-bottom: 8px solid #f7c900;
    border-left: 12px solid transparent;
    transform: rotate(35deg);
}
.d14:before, .d14:after {
    content: "";
    height: 0; 
    width: 0;
    position: absolute;
}
.d14:before {
    top: -6px; 
    left: -8px;
    border-bottom: 10px solid #f7c900;
    border-left:3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(-35deg);
}
.d14:after {
    top: 1px; 
    left: -14px;
    border-bottom: 8px solid #f7c900;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    transform: rotate(-70deg);
}
.d14:hover{
    
    border-bottom:8px solid black;
}
.d14:hover:after {
    
    border-bottom: 8px solid black;
}
.d14:hover:before {
    
    border-bottom: 10px solid black;
}
.d14gray{
    border-bottom: 8px solid rgb(133, 133, 133);
}
.d14gray::before{
    border-bottom: 8px solid rgb(133, 133, 133);
}
.d14gray::after{
    border-bottom: 8px solid rgb(133, 133, 133);
}