<div class="kind-catalog" >
    <div class="catalog-items-box" >
        <p class="product-catalog-name">
            Kinds
        </p>
       <div *ngFor="let kind of this.getKinds.kindsDto"  class="catalog-item" (click)="loadProduct(kind.kindId)">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src="{{kind.foto}}"  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:40px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>{{kind.name}}</h6>
                    </a>
                </div>
                <div style="height: 110px; overflow: hidden;">
                    {{kind.about}}  
                </div>
            </div>
        </div> 
    </div>
    <div style="height: 10px;">
    </div>
</div>
<div style="height: 10px;">
</div>