<div class="kind-panel">
    <div class="navs-items">
        <div class="qwe"> 
            <ul  class="navbar-nav">
                <li style="margin: 0 0 15px 30px;">
                    Kinds 
                </li>
            </ul>
            <ul class="navbar-nav">
                <div class="kind-scroll overflow-auto ">
                    <div>
                        <li class="nav-item" *ngFor="let kind of getKinds.kindsDto">
                            <!-- *ngIf="this.kindId!=kind.kindId; else whiteItem" -->
                                <a *ngIf="this.kindId!=kind.kindId; else whiteItem;" style="margin: 0 0 15px 30px;color:rgb(79, 80, 79);" href="/kinds/{{kind.kindId}}/products"  (click)="setKind(kind.kindId);">
                                    {{kind.name}}
                                </a>
                                <ng-template #whiteItem>
                                    <a style="margin: 0 0 15px 30px;color:white" href="/kinds/{{kind.kindId}}/products">
                                        {{kind.name}}
                                    </a>
                                </ng-template>
                                <br/>
                        </li>
                    </div>
                </div>
                <div class="overflow-hidden "></div>
            </ul>
        </div>
    </div>
</div>
<div style= "float:left; width: 85%; margin: 0 30px;">
    <router-outlet></router-outlet>
</div>




