<div class="kind-catalog">
    <div class="catalog-items-box" >
        <p class="product-catalog-name">
            Technology and IT
        </p>
       <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:40px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxcasd asda s   dsadasd  asda  dasdasd   asd asda s   dsadasd  asda  dasdasd   </h6>
                    </a>
                </div>
                <div style="height: 110px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd    asd asda s   dsadasd  asda  dasdasd   asd asda s   dsadasd  asda  dasdasd   asd asda s   dsadasd  asda  dasdasd   asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div> 
            
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div><div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div
        ><div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
        <div  class="catalog-item">
            <div class="catalog-item-foto">
                <img width="100%" height="100%" src=""  alt="foto">
            </div>
            <div class="catalog-item-text" >
                <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                    <a >
                        <h6>zxcxczxc</h6>
                    </a>
                </div>
                <div style="height: 20px; overflow: hidden;">
                    asda sdasda sdas dasdasd 
                </div>
                <div style="height: 85px; overflow: hidden;">
                    asd asda s   dsadasd  asda  dasdasd   
                </div>
            </div>
        </div>
    </div>
    <div style="height: 10px;">
    </div>
</div>