@media screen and (max-width: 1270px) {
    div.catalog-product{
        width: 83%;
    }
  }
  @media (max-width: 1118px) {
    div.catalog-product{
        width: auto;
    }
  }
  @media (max-width: 889px) {
    div.catalog-product{
        width: 100%;
        float:none;
        margin: 10px auto;
    }
    li.panelName{
        border-bottom: rgb(0, 0, 0) 1px solid;
    }
    div.kind-panel{ 
        float: none;
        margin: 10px auto;
        height: 200px;
        width: 90%;
    }
  }
.catalog-product{
    float:left;
    width: 85%; 
    margin: 0 30px;
}
.navs-items{
    width: 100%;
    margin: 10px 0px;
    font-size: 15pt;
}
.nav-item{
    overflow: hidden;
    margin: 0 0 5px 0;
}
.nav-item:hover{ 
    background-color:rgb(195, 195, 195)
}
.kind-panel{
    height: 85%;
    overflow: hidden;
    float:left; 
    width: 10%; 
    min-width: 130px;
    background-color: rgb(201, 201, 201);
}
.kind-scroll{
    max-height: 800px;
}
::-webkit-scrollbar{ 
    width: 3px;  
    background-color: rgb(201, 201, 201); 
}
::-webkit-scrollbar-thumb {
    background-color: rgb(184, 184, 184);
    border-radius: 9em;
    
}
