@media (max-width: 1400px) {
    .kind-panel{ 
        background-color: rgb(199, 6, 6);
       
    }
    .kind-scroll{
        height: 400px;
    }
  }

.navs-items{
    width: 100%;
    margin: 10px 0px;
    font-size: 15pt;
}
.nav-item{
    overflow: hidden;
    margin: 0 0 5px 0;
}
.nav-item:hover{ 
    background-color:rgb(195, 195, 195)
}
.kind-panel{
    height: 95%; 
    overflow: hidden;
    float:left; 
    width: 10%; 
    min-width: 130px;
    background-color: rgb(201, 201, 201);
}
.kind-scroll{
    max-height: 800px;
}
::-webkit-scrollbar{ 
    width: 3px;  
    background-color: rgb(201, 201, 201); 
}
::-webkit-scrollbar-thumb {
    background-color: rgb(184, 184, 184);
    border-radius: 9em;
    
}
