<div style="float:left; width: 10%; background-color: rgb(201, 201, 201);height: 1000px;">
    <div class="navs-items">
        <ul class="navbar-nav" >
            <li>
                Admin panel
            </li>
            <li class="nav-item">
            <a class="nav-link" href="admin/kinds" >Kinds</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="admin/shippers" >Shippers</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="admin/kinds/1/products">Products</a>
        </ul>
    </div>
</div>
<div style= "float:left; width: 80%; margin: 0 30px;">
    <router-outlet></router-outlet>
</div>


