<form style="margin: 10px 0px;">
    <div style="width: 100%;">
        <label>ID kind</label>
        <div  style="width: 100%;">
            <div style="width: 95%; float: left;" class="form-group">
                <input id="productKindId" type="number" name="123" [(ngModel)]="this.kindId" class="form-control">
            </div> 
            <div style="width: auto; float: right;">
                <button type="submit"  class="btn btn-dark" (click)="setKindId()">Enter</button>
            </div>
        </div>
    </div>
</form>

<div>
    <p style="margin-top:20px;float:left;">{{this.kindName}}</p>
    <p>
        <button style="margin-top:10px;float:right; margin-left: 1%;" class="btn btn-dark" type="button" data-toggle="modal" data-target="#exampleModalCenter" >
            Create
        </button>
    </p>
    <p>
        <button style="margin-top:10px;float:right;" class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filtering and searching
        </button>
    </p>
    <div class="collapse" style="width: 100%;float:left;margin-top:10px;" id="collapseExample">
        <div class="card card-body">
            <p>
                <label>Поиск</label>
                <input id="search" type="text" size="10" class="form-control" [(ngModel)]="this.params.Params.searchTerm">
            </p>
            <div>
                <div style="width:49%;float: left; margin: 0 2% 0 0;">
                    <p>
                        <label>Минимальная цена</label>
                        <input id="minPrice" type="text" size="10" class="form-control" [(ngModel)]="this.params.Params.minPrice">
                    </p>
                </div>
                <div style="width:49%;float: left;">
                    <p>
                        <label>Максимальная цена</label>
                        <input id="maxPrice" type="text" size="10" class="form-control" [(ngModel)]="this.params.Params.maxPrice">
                    </p>
                </div>
            
            </div>
            
            <form method="post">
                <div style="float:top;">
                    <p>
                        <label>Валюта</label><br/>
                        <select id="selectCurrency"  class="form-control form-select form-select-lg mb-3" aria-label="Default select example"  (change)="this.params.currency('selectCurrency');" >
                            <option selected>Open this select menu</option>
                            <option value="rub">Российские рубли</option>
                            <option value="byn">Белорусские рубли</option>
                            <option value="eur">Евро</option>
                            <option value="usd">Доллары</option>
                        </select>
            
                    </p>
            
                </div>
            </form>
            
            <form method="post">
                <label>Сортировать по</label><br/>
                <select class="form-control form-select" size="2" multiple aria-label="multiple select example" id="sort" (change)="this.params.sort('sort');" >
                    <option value="name">Имя продукта</option>
                    <option value="price">Цена</option>
                </select>
            </form>
            <br/>
            <button type="button" class="btn btn-secondary" style="width: 10%; margin: 0 auto;" data-dismiss="modal" (click)="get()">Enter</button>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add kind</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                <label>Name</label>
                <input id="" type="text" size="10" class="form-control" [(ngModel)]="this.actProduct.name" >
            </p>
            <p>
                <label>Price</label>
                <input id="" type="number" size="10" class="form-control"  [(ngModel)]="this.actProduct.price">
            </p>
            <p>
                <label>KindId</label>
                <input id="search" type="number" size="10" class="form-control" value="{{this.kindId}}" [(ngModel)]="this.kindId">
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark" (click)="create()" data-dismiss="modal" >Add </button>
        </div>
      </div>
    </div>
  </div>

<table class="table table-hover">
    <caption>Products</caption>
    <thead>
        <tr>
            <th class="tableKindId">Id</th>
            <th class="tableKindName">Name</th>
            <th class="tableKindPrice">Price</th>
            <th class="tableKindDelete">Delete</th>
            <th class="tableKindEdit">Edit</th>    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of getProducts.productsDto">
            <td>
                {{product.productId}}
            </td>
            <td>
                <a href="/admin/kinds/{{this.kindId}}/products/{{product.productId}}">
                    {{product.name}}
                </a>
            </td>
            
            <td>
                {{product.price}}
            </td>
            <td>
                <button type="button" class="btn btn-dark" (click)="delete(product.productId)" >Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalEdit" (click)="initEdit(product)" >Edit</button>

                <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Edit product</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            
                            <p>
                                <label>Name</label>
                                <input type="text" size="10" class="form-control" [(ngModel)]="this.editProduct.name">
                            </p>
                            <p>
                                <label>Price</label>
                                <input type="number" size="10" class="form-control" [(ngModel)]="this.editProduct.price">
                            </p>
                            <p>
                                <label>KindId</label>
                                <input type="number" size="10" class="form-control" value="{{this.kindId}}" [(ngModel)]="this.kindId">
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="this.edit()" >Add </button>
                        </div>
                      </div>
                    </div>
                  </div>
                

            </td>
            
        </tr>
    </tbody>
</table>
<app-pagination (click)="this.get()"></app-pagination>




