<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Ссылка с href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Кнопка с data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
    </div>
  </div>



<form style="margin: 10px 0px;">
    <div  class="form-group">
        <label>ID kind</label>
        <input id="productKindId" type="number" value="1" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-dark" (click)="setKindId()">Enter</button>
</form>

<p>
    <label>Поиск</label>
    <input id="search" type="text" size="10" class="form-control" (input)="search()">
</p>
<div>
    <div style="width:49%;float: left; margin: 0 2% 0 0;">
        <p>
            <label>Минимальная цена</label>
            <input id="minPrice" type="text" size="10" class="form-control" (input)="changePrice()">
        </p>
    </div>
    <div style="width:49%;float: left;">
        <p>
            <label>Максимальная цена</label>
            <input id="maxPrice" type="text" size="10" class="form-control" (input)="changePrice()">
        </p>
    </div>

</div>

<form method="post">
    <div style="float:top;">
        <p>
            <label>Валюта</label><br/>
            <select id="selectCurrency"  class="form-control form-select form-select-lg mb-3" aria-label="Default select example"  (change)="currency();" >
                <option selected>Open this select menu</option>
                <option value="rub">Российские рубли</option>
                <option value="byn">Белорусские рубли</option>
                <option value="eur">Евро</option>
                <option value="usd">Доллары</option>
            </select>

        </p>

    </div>
</form>

<form method="post">
    <label>Сортировать по</label><br/>
    <select class="form-control form-select" size="2" multiple aria-label="multiple select example" id="sort" (change)="sort();" >
        <option value="name">Имя продукта</option>
        <option value="price">Цена</option>
    </select>
</form>
<br/>

<table class="table table-hover">
    <caption>Products</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Delete</th>    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                {{product.productId}}
            </td>
            <td>
                <a href="/admin/kinds/{{this.kindId}}/products/{{product.productId}}">
                    {{product.name}}
                </a>
            </td>
            
            <td>
                {{product.price}}
            </td>
            <td>
                <button type="button" class="btn btn-dark" >Delete</button>
            </td>
            
        </tr>
    </tbody>
</table>