<div class="product-page">
    <div class="kind-panel">
        <div class="kind-panel-name">
            <h6>
                Kinds
            </h6>
        </div>
        <div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Food and drink
                </a>
            </p>
        </div>
        <div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div>
        <div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div>
    </div>
    <div class="product-catalog">
        <p class="product-catalog-name">
            Technology and IT
        </p>
        <div class="catalog-items-box">
            

        </div>
    </div>
</div>