<div class="product-page">
    <div class="kind-panel">
        <div class="kind-panel-name">
            <h6>
                Kinds
            </h6>
        </div>
        <div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Food and drink
                </a>
            </p>
        </div>
        <div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div>
        <div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div><div class="kind-panel-items">
            <p>
                <a class="kind-panel-items-a">
                    Technology and IT
                </a>
            </p>
        </div>
    </div>
    
    <div class="product-catalog-filter">
        <div class="product-filters">
            <div style="width: 90%; margin: 0 auto;">
                <p style="margin:10px 0">
                    <label>Поиск</label>
                    <input id="search" type="text" size="10" class="form-control" >
                </p>
                <div>
                    <div style="width:49%;float: left; margin: 0 2% 0 0;">
                        <p>
                            <label>Минимальная цена</label>
                            <input id="minPrice" type="text" size="10" class="form-control" >
                        </p>
                    </div>
                    <div style="width:49%;float: left;">
                        <p>
                            <label>Максимальная цена</label>
                            <input id="maxPrice" type="text" size="10" class="form-control" >
                        </p>
                    </div>
                </div>
                <form method="post">
                    <div style="float:top;">
                        <p>
                            <label>Валюта</label><br/>
                            <select id="selectCurrency"  class="form-control form-select form-select-lg mb-3" aria-label="Default select example"   >
                                <option selected>Open this select menu</option>
                                <option value="rub">Российские рубли</option>
                                <option value="byn">Белорусские рубли</option>
                                <option value="eur">Евро</option>
                                <option value="usd">Доллары</option>
                            </select>
                
                        </p>
                
                    </div>
                </form>
                
                <form style="margin: 0 0px 15px 0;" method="post">
                    <label>Сортировать по</label><br/>
                    <select class="form-control form-select" id="sort" size="2" multiple aria-label="multiple select example" id="sort"  >
                        <option value="name">Имя продукта</option>
                        <option value="price">Цена</option>
                    </select>
                </form>
                
                    <button style="width: 100%; margin-bottom: 10px;" type="button" class="btn btn-secondary"  data-dismiss="modal" >Enter</button>
            
            </div>
        </div>
        <div class="product-catalog">
            <p class="product-catalog-name">
                Technology and IT
            </p>
            <div class="catalog-items-box">
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="catalog-item">
                    <div class="catalog-item-foto">
                        <img width="100%" height="100%" src=""  alt="foto">
                    </div>
                    <div class="catalog-item-text" >
                        <div style=" margin-top:10px; max-height:20px; height: 10%; overflow: hidden;">
                            <a >
                                <h6>zxcxczxc</h6>
                            </a>
                        </div>
                        <div style="height: 20px; overflow: hidden;">
                            asda sdasda sdas dasdasd 
                        </div>
                        <div style="height: 85px; overflow: hidden;">
                            asd asda s   dsadasd  asda  dasdasd   
                        </div>

                        <div style="width:100%; ">
                            <div style="width:80%; float:left; ">
                                Price: 4000
                            </div>
                            <div  class="plusclass" > 
                                +            
                            </div>

                        </div>
                    </div>
                </div>
    
            </div>
        </div>

    </div>
</div>