.catalog-item{ /* Ширина */
    min-width: 300px ;
    width: 350px;;
    margin: 0 2% 15px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
    vertical-align: top;
    background-color: rgb(240, 240, 240);   
}
.catalog-item-foto{
    width: 50%; 
    height:150px; 
    margin: 15px 5%;  
    float:left;
    background-color: rgb(192, 176, 176);
}
.catalog-item-text{
    
    position: relative;
    margin: 15px 5%;   
    text-align: left;
}