.catalog-item{ /* Ширина */
    min-width: 300px ;
    max-height: 186px;
    width: 350px;
    margin: 0 2% 15px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
    vertical-align: top;
    background-color: rgb(240, 240, 240);   
}
.catalog-item:hover{
    outline: 1px solid #65994C; 
}
.catalog-item-foto{
    width: 50%; 
    height:150px; 
    margin: 15px 5%;  
    float:left;
    background-color: rgb(192, 176, 176);
}
.catalog-item-text{
    
    position: relative;
    margin: 15px 5%;   
    text-align: left;
}
.catalog-product{
    min-height: 810px;
}
.kind-scroll{
    width:10% ;
   /* scrollbar-color: #458245 #714826; */     

    height: 50px;
}::-webkit-scrollbar { width: 1px; height: 30px; background-color: rgb(201, 176, 176); }
/* ::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;} */