<div class="div-login">
    <div class="title-form-div">
        <h4>Register</h4>
    </div>
    <div class="input-login-form">
        <form class="was-validated">            
            <div class="form-item">
                <label>
                    First name
                </label><br/>
                <input class="form-control" id="firstName" name="firstName" [(ngModel)]="this.user.FirstName" required>
                <div class="invalid-feedback validate-text">    
                    This data is invalid.
                </div>
            </div>
            <div class="form-item">
                <label>
                    Last name
                </label><br/>
                <input class="form-control" id="lastName" name="lastName" [(ngModel)]="this.user.LastName" required>
                <div class="invalid-feedback">
                    This data is invalid.
                </div>
            </div>
            <div class="form-item">
                <label>
                    Username
                </label><br/>
                <input class="form-control" id="userName" name="userName" [(ngModel)]="this.user.UserName" required>
                <div class="invalid-feedback">
                    This data is invalid.
                </div>
            </div>
            <div class="form-item">
                <label>
                    Email
                </label><br/>
                <input class="form-control" id="email" type="email" name="email" [(ngModel)]="this.user.Email"   required>
                <!-- pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" > -->
                <div class="invalid-feedback">
                    Invalid email address.
                </div>
            </div>
            <div class="form-item">
                <label>
                    PhoneNumber
                </label><br/>
                <input class="form-control" id="phoneNumber" type="number" name="phoneNumber" min="1000000" [(ngModel)]="this.user.PhoneNumber" required>
                <div class="invalid-feedback">
                    Invalid phone number address. The phone number must be at least 7 digits long.
                  </div>
            </div>
            <div class="form-item">
                <label>
                    Password
                </label><br/>
                <input class="form-control" id="password" type="password" name="password" [(ngModel)]="this.user.Password" minlength="10" required>
                <div class="invalid-feedback">
                    This password is invalid. 
                    The password must be at least 10 characters long.
                  </div>
            </div>
            <div class="button-div-login form-item">
                <input class="btn btn-secondary button-login" type="submit" id="submitLogin" value="Register" (click)="this.auth.register(this.user);">
            </div>
        </form>
    </div>
</div>




