<div class="div-login">
    <div class="title-form-div">
        <h4>Register</h4>
    </div>
    <div class="input-login-form">
        <form >
            <p>
                <label>
                    First name
                </label><br/>
                <input class="form-control" id="firstName" name="firstName" [(ngModel)]="this.user.FirstName">
            </p>
            <p>
                <label>
                    Last name
                </label><br/>
                <input class="form-control" id="lastName" name="lastName" [(ngModel)]="this.user.LastName">
            </p>
            <p>
                <label>
                    Username
                </label><br/>
                <input class="form-control" id="userName" name="userName" [(ngModel)]="this.user.UserName">
            </p>
            <p>
                <label>
                    Email
                </label><br/>
                <input class="form-control" id="email" name="email" [(ngModel)]="this.user.Email">
            </p>
            <p>
                <label>
                    PhoneNumber
                </label><br/>
                <input class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="this.user.PhoneNumber">
            </p>
            <p>
                <label>
                    Password
                </label><br/>
                <input class="form-control" id="password" type="password" name="password" [(ngModel)]="this.user.Password">
            </p>
            <div class="button-div-login">
                <input class="btn btn-secondary button-login" type="submit" id="submitLogin" value="Register" (click)="register();">
            </div>
        </form>
    </div>
</div>