<div class="shipper-page">
    <div class="shipper-panel">
        <div class="shipper-panel-name">
            <h6>
                Shippers
            </h6>
        </div>
        <div class="shipper-scroll overflow-auto">
            <div style="width: 95%; overflow: hidden;">
                
            </div>
        </div>
    </div>
    
    <div class="shipper-out">
        <div class="shipper-catalog">
            <div class="catalog-items-box">
                <div class="shipper-foto">
                    <img width="100%" height="100%" src="{{this.shipper.foto}}"  alt="foto">
                </div>
                <div class="shipper-info">
                    <h6 class="shipper-catalog-name">
                        {{this.shipper.name}}
                    </h6>
                    <p class="shipper-catalog-name">
                        <app-starrating [ObjectId]="shipper.shipperId" [CountStars]="shipper.finalRating" ></app-starrating> <br/>  
                    </p>
                    <p class="shipper-catalog-name">
                        asda ads jj lj  fjsfsi sjf kksjfklsdfl oo koki oiji  k l plp  plp ljj lj  fjsfsi sjf kksjfklsdfl oo koki oijifklsdfl oo koki oiji  k l plp  plp ljj lj  fjsfsi sjf kksjfklsd 
                    </p>
                    <p class="shipper-catalog-name">
                        Location: 
                        lat:{{this.shipper.locationLat}}              lng:{{this.shipper.locationLng}}
                    </p>
                </div>
                <div class="map-div">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d86052.37572110853!2d28.760308024004154!3d55.47512253670864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1629976759866!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
                </div>
                <div style="height: 1000px; width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

