<p>pagination works!</p>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><p class="page-link" (click)="this.pagination.changePage(-1);" >Previous</p></li>
      <li class="page-item"><p class="page-link" >{{this.adminProduct.getProducts.currentPage-1}}</p></li> 
      <li class="page-item"><p class="page-link" >{{this.adminProduct.getProducts.currentPage}}</p></li>
      <li class="page-item"><p class="page-link" >{{this.adminProduct.getProducts.currentPage+1}}</p></li>
      <li class="page-item"><p class="page-link" (click)="this.pagination.changePage(+1);" >Next</p></li>
    </ul>
  </nav>